<html>
	<head>
	
	</head>
	 <h3>This method says hello to all the users in the URL using Twig:</h3>
	<body>
	<h3>Hello all!</h3>
	    {% for row in data %}
	          {{ row }},
	    {% endfor %}
	</body>
</html>

