<h1>Home</h1>

<html>
<head><title>Test Page</title><head>
<body>
<ul>
	<li>
        <a href="/home/main">Home (main method / MENU)</a>
    </li>
    <li>
        <a href="/home/secondary">Home (secondary method)</a>
    </li>
    <li>
        <a href="/home/another">Home (another method)</a>
    </li>
    <li>
        <a href="/hellosmarty/main/Pablo/Javi/Jose/Ana">Hello Smarty</a>
    </li>
    <li>
        <a href="/hellotwig/main/Pablo/Javi/Jose/Ana">Hello Twig</a>
    </li>
     <li>
        <a href="/hellotwig/json/Pablo/Javi/Jose/Ana">Hello Twig (JSON answer)</a>
    </li>
     <li>
        <a href="/registeruser/main">Sign up</a>
    </li>
    <li>
        <a href="/loginuser/main">Log In (initializes session)</a>
    </li>
    <li>
        <a href="/logoutuser/main">Logout (destroy session)</a>
    </li>
   
</ul>
</body>
</html>


